body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

#car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.car h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.car p {
    margin: 5px 0;
}
form {
    margin-top: 20px;
}

form label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

form input {
    margin-bottom: 10px;
}

form button {
    margin-left: 85px;
}